In [1]:
import pandas as pd
import numpy as np

In [21]:
# Create the frames
Highschooler = pd.DataFrame({
        'ID':[1510,1689,1381,1709, 1101, 1782, 1468,
              1641,1247, 1316,1911, 1501,1304,1025,
              1934,1661],
        'name':['Jordan', 'Gabriel', 'Tiffany', 
                'Cassandra','Haley', 'Andrew',
                'Kris', 'Brittany', 'Alexis',
                'Austin', 'Gabriel', 'Jessica',
                'Jordan', 'John', 'Kyle', 'Logan'],
        'grade':[9, 9, 9, 9, 10, 10, 10, 10, 11,
                 11, 11, 11, 12, 12, 12, 12]
    })
Friend = pd.DataFrame({
        'ID1':[1510, 1510, 1689, 1381, 1709, 1689,
               1782, 1782, 1782, 1468, 1468, 1101,
               1247, 1247, 1911, 1501, 1316, 1934,
               1304, 1661],
        'ID2':[1381, 1689, 1709, 1247, 1247, 1782,
               1468, 1316, 1304, 1101, 1641, 1641,
               1911, 1501, 1501, 1934, 1934, 1304,
               1661, 1025]
    })
Likes = pd.DataFrame({
        'ID1':[1689, 1709, 1782, 1911, 1247, 1641, 
               1316, 1501, 1934, 1025],
        'ID2':[1709, 1689, 1709, 1247, 1468, 1468, 
               1304, 1934, 1501, 1101]
    })

In [33]:
# Find the names of all students who are friends with someone
# named Gabriel. 
gabriels = Highschooler[Highschooler['name']=='Gabriel'][['ID']]
gabriels_friends = gabriels.merge(Friend, left_on= 'ID', right_on='ID1')[['ID2']]\
                           .merge(Highschooler[['ID','name']], left_on='ID2', right_on='ID')\
                           .drop_duplicates()[['name']]
gabriels_friends

        name
0  Cassandra
1     Andrew
2    Jessica

In [41]:
# For every student who likes someone 2 or more grades
# younger than themselves, return that student's name 
# and grade, and the name and grade of the student they
# like. 
likes_grades = Likes.merge(Highschooler, left_on='ID1', right_on='ID')\
                    .drop('ID', axis=1)\
                    .merge(Highschooler, left_on='ID2', right_on='ID',
                           suffixes=('_likes', ''))\
                    .drop('ID', axis=1)
likes_younger_grades = likes_grades[(likes_grades['grade_likes']-likes_grades['grade']) >=2]
out_cols = ['name_likes', 'name', 'grade_likes', 'grade']
likes_younger_grades[out_cols]

  name_likes   name  grade_likes  grade
9       John  Haley           12     10

In [67]:
# For every pair of students who both like each other, return 
# the name and grade of both students. Include each pair only
# once, with the two names in alphabetical order. 
mutal_like = Likes.merge(Likes, left_on='ID2', right_on='ID1', suffixes=('_first', '_second'))
mutal_like = mutal_like[mutal_like['ID1_first'] == mutal_like['ID2_second']][['ID1_first',
                                                                              'ID2_first']]
mutal_like = mutal_like[mutal_like['ID1_first'] > mutal_like['ID2_first']]
mutal_like.merge(Highschooler, left_on='ID1_first', right_on='ID')\
          .drop(['ID1_first','ID'], axis=1)\
          .merge(Highschooler, left_on='ID2_first', right_on='ID', suffixes=('_first', '_second'))\
          .drop(['ID2_first','ID'], axis=1)

   grade_first name_first  grade_second name_second
0            9  Cassandra             9     Gabriel
1           12       Kyle            11     Jessica

In [66]:
{(1,2), (2,1), (1,2)}

{(1, 2), (2, 1)}