In [2]:
# Imports
import pandas as pd
import numpy as np

In [3]:
# Create the data
Movie = pd.DataFrame(
    {
        'mID':[101, 102, 103, 104, 105, 106, 107, 108],
        'title':['Gone with the Wind', 'Star Wars', 'The Sound of Music',
                 'E.T.', 'Titanic', 'Snow White', 'Avator', 
                 'Raiders of the Lost Ark'], 
        'year':[1939, 1977, 1965, 1982, 1997, 1937, 2009, 1981], 
        'director':['Victor Fleming', 'George Lucas', 'Robert Wise',
                    'Steven Spielberg','James Cameron', np.nan, 
                    'James Cameron', 'Steven Spielberg']
    })

Reviewer = pd.DataFrame(
    {
        'rID':[201, 202, 203, 204, 205, 206, 207, 208],
        'name':['Sarah Martinez', 'Daniel Lewis', 'Brittany Harris',
                'Mike Anderson', 'Chris Jackson', 'Elizabeth Thomas',
                'James Cameron', 'Ashley White']
    })

Rating = pd.DataFrame(
    {
        'rID':[201,201,202,203,203,203,204,205,205,205,206,
               206,207,208],
        'mID':[101,101,106,103,108,108,101,103,104,108,107,
               106,107,104],
        'stars':[2,4,4,2,4,2,3,3,2,4,3,5,5,3],
        'ratingDate':['2011-01-22', '2011-01-27',np.nan,
                      '2011-01-20', '2011-01-12', '2011-01-30',
                      '2011-01-09', '2011-01-27', '2011-01-22',
                      np.nan, '2011-01-15', '2011-01-19',
                      '2011-01-20', '2011-01-02']
    })

In [10]:
# Find the titles of all movies directed by Steven Spielberg.
by_steve = Movie['director'] == 'Steven Spielberg'
Movie.loc[by_steve, 'title']

3                       E.T.
7    Raiders of the Lost Ark
Name: title, dtype: object

In [78]:
# Find all years that have a movie that received a rating of 4 or 5, and sort them in increasing order.
rating_4_or_5 = Rating['stars'].isin([4,5])
print Rating.loc[rating_4_or_5, 'ratingDate'].sort_values(ascending=True)

# Do the same thing on the year
def extract_year(t):
    try:
        year = str(pd.to_datetime(t, format='%Y-%m-%d').year)
    except:
        year = np.nan
    return year
print Rating.loc[rating_4_or_5, 'ratingDate'].apply(extract_year).sort_values(ascending=True)

4     2011-01-12
11    2011-01-19
12    2011-01-20
1     2011-01-27
2            NaN
9            NaN
Name: ratingDate, dtype: object
1     2011
4     2011
11    2011
12    2011
2      nan
9      nan
Name: ratingDate, dtype: object

In [85]:
# Find the titles of all movies that have no ratings. 
no_rating_movies = Rating[Rating['stars'].isnull()]
pd.merge(no_rating_movies[['mID']], Movie[['mID','title']], on='mID')

Empty DataFrame
Columns: [mID, title]
Index: []

In [89]:
# Some reviewers didn't provide a date with their rating. Find the names of all reviewers 
# who have ratings with a NULL value for the date.
no_review_date = Rating[Rating['ratingDate'].isnull()]
pd.merge(no_review_date[['rID']], Reviewer, on='rID')

   rID           name
0  202   Daniel Lewis
1  205  Chris Jackson

In [98]:
# Write a query to return the ratings data in a more readable 
# format: reviewer name, movie title, stars, and ratingDate. 
# Also, sort the data, first by reviewer name, then by movie 
# title, and lastly by number of stars.
rating_reviewer = pd.merge(Rating, Reviewer, on='rID')
pd.merge(rating_reviewer, Movie[['mID', 'title']], on='mID').sort_values(by=['name',
                                                                             'title',
                                                                             'stars'])

    mID  rID  ratingDate  stars              name                    title
11  104  208  2011-01-02      3      Ashley White                     E.T.
8   108  203  2011-01-30      2   Brittany Harris  Raiders of the Lost Ark
7   108  203  2011-01-12      4   Brittany Harris  Raiders of the Lost Ark
5   103  203  2011-01-20      2   Brittany Harris       The Sound of Music
10  104  205  2011-01-22      2     Chris Jackson                     E.T.
9   108  205         NaN      4     Chris Jackson  Raiders of the Lost Ark
6   103  205  2011-01-27      3     Chris Jackson       The Sound of Music
3   106  202         NaN      4      Daniel Lewis               Snow White
12  107  206  2011-01-15      3  Elizabeth Thomas                   Avator
4   106  206  2011-01-19      5  Elizabeth Thomas               Snow White
13  107  207  2011-01-20      5     James Cameron                   Avator
2   101  204  2011-01-09      3     Mike Anderson       Gone with the wind
0   101  201  2011-01-22      2    Sarah Martinez       Gone with the wind
1   101  201  2011-01-27      4    Sarah Martinez       Gone with the wind

In [395]:
# For all cases where the same reviewer rated the same movie 
# twice and gave it a higher rating the second time, return
# the reviewer's name and the title of the movie.

# Solution using groupby    
rating_groups = Rating.groupby(['rID','mID'])
two_reviews = rating_groups.filter(lambda x: len(x)==2)
two_reviews = pd.merge(two_reviews, two_reviews, on=['rID', 'mID'], suffixes=('_first','_second'))
second_rating = two_reviews['ratingDate_second'] > two_reviews['ratingDate_first']
better_rating = two_reviews['stars_second'] > two_reviews['stars_first']
second_better_rating = two_reviews[second_rating & \
                                   better_rating][['rID','mID']]
second_better_rating.merge(Reviewer, on='rID')\
                    .merge(Movie[['mID','title']], on='mID')

   rID  mID            name               title
0  201  101  Sarah Martinez  Gone with the wind

In [397]:
# For each movie that has at least one rating, find the highest
# number of stars that movie received. Return the movie title 
# and number of stars. Sort by movie title.
max_rating_per_movie = Rating.groupby('mID').agg({'stars':max}).reset_index()
max_rating_per_movie.merge(Movie[['mID','title']], on='mID')\
                    .sort_values(by='title')

   mID  stars                    title
4  107      5                   Avator
2  104      3                     E.T.
0  101      4       Gone with the wind
5  108      4  Raiders of the Lost Ark
3  106      5               Snow White
1  103      3       The Sound of Music

In [390]:
# For each movie, return the title and the 'rating spread',
# that is, the difference between highest and lowest ratings 
# given to that movie. Sort by rating spread from highest to
# lowest, then by movie title. 
def find_rating_diff(g):
    return g.max() - g.min()
rating_spread = Rating.groupby('mID').agg({'stars':find_rating_diff})\
                                     .reset_index()\
                                     .rename(columns={'stars':'spread'})
pd.merge(rating_spread, Movie[['mID', 'title']]).sort_values(by='spread', ascending=False)

   mID  spread                    title
0  101       2       Gone with the wind
4  107       2                   Avator
5  108       2  Raiders of the Lost Ark
1  103       1       The Sound of Music
2  104       1                     E.T.
3  106       1               Snow White

In [431]:
# Find the difference between the average rating of movies
# released before 1980 and the average rating of movies 
# released after 1980. (Make sure to calculate the average
# rating for each movie, then the average of those averages 
# for movies before 1980 and movies after. Don't just calculate
# the overall average rating before and after 1980.)

# Find the average rating for each movie
avg_rating = Rating.groupby('mID').agg({'stars': np.mean}).reset_index()
avg_rating = avg_rating.merge(Movie[['mID', 'year']], on='mID')
avg_rating['after_1980'] = (avg_rating['year'] > 1980)
avg_rating_before_after = avg_rating.groupby('after_1980').agg({'stars': np.mean})
abs(avg_rating_before_after['stars'][1] - avg_rating_before_after['stars'][0])

0.055555555555555358

In [434]:
# Find the names of all reviewers who rated Gone with the Wind. 
gone_with_wind = Movie['title'] == 'Gone with the Wind'
movie_ratings = pd.merge(Rating[['rID','mID']], Movie.loc[gone_with_wind, ['mID', 'title']])
movie_ratings.merge(Reviewer)

   rID  mID               title            name
0  201  101  Gone with the Wind  Sarah Martinez
1  201  101  Gone with the Wind  Sarah Martinez
2  204  101  Gone with the Wind   Mike Anderson

In [435]:
# For any rating where the reviewer is the same as the director
# of the movie, return the reviewer name, movie title, and number
# of stars. 
movie_rating = pd.merge(Movie[['mID','title','director']], Rating[['rID','mID','stars']])
movie_rating_reviewer = movie_rating.merge(Reviewer)
director_reviewed = movie_rating_reviewer['director'] == movie_rating_reviewer['name']
movie_rating_reviewer.loc[director_reviewed, ['name','title','stars']]

             name   title  stars
13  James Cameron  Avator      5

In [438]:
# Return all reviewer names and movie names together in a single list
# , alphabetized. (Sorting by the first name of the reviewer and first
# word in the title is fine; no need for special processing on last 
# names or removing "The".) 
reviewers = sorted(Reviewer['name'].tolist())
titles = sorted(Movie['title'].tolist())
reviewers + titles

['Ashley White',
 'Brittany Harris',
 'Chris Jackson',
 'Daniel Lewis',
 'Elizabeth Thomas',
 'James Cameron',
 'Mike Anderson',
 'Sarah Martinez',
 'Avator',
 'E.T.',
 'Gone with the Wind',
 'Raiders of the Lost Ark',
 'Snow White',
 'Star Wars',
 'The Sound of Music',
 'Titanic']

In [453]:
# Find the titles of all movies not reviewed by Chris Jackson. 
chris_id = Reviewer[Reviewer['name']=='Chris Jackson']['rID'].values[0]
chris_rated_movies = Rating[Rating['rID']==chris_id]['mID'].values
Movie.loc[~Movie['mID'].isin(chris_rated_movies), ['title']]

                title
0  Gone with the Wind
1           Star Wars
4             Titanic
5          Snow White
6              Avator

In [16]:
# For all pairs of reviewers such that both reviewers gave a 
# rating to the same movie, return the names of both reviewers. 
# Eliminate duplicates, don't pair reviewers with themselves, 
# and include each pair only once. For each pair, return the 
# names in the pair in alphabetical order.
ids = ['rID','mID']
rated_same_movie = pd.merge(Rating[ids], Rating[ids], on='mID', suffixes=('_first', '_second'))
different_reviewers = rated_same_movie['rID_first'] > rated_same_movie['rID_second']
rated_same_movie = rated_same_movie[different_reviewers]
rated_same_movie.drop_duplicates(inplace=True, subset=['rID_first', 'rID_second'])
rated_same_movie = rated_same_movie.merge(Reviewer, left_on='rID_first', right_on='rID')[['name','rID_second']]
rated_same_movie = rated_same_movie.merge(Reviewer, left_on='rID_second', right_on='rID', 
                                          suffixes=('_first_rev', '_second_rev'))[['name_first_rev',
                                                                                   'name_second_rev']]
rated_same_movie.sort_values(by=['name_first_rev',
                                 'name_second_rev'])

     name_first_rev   name_second_rev
3      Ashley White     Chris Jackson
2     Chris Jackson   Brittany Harris
1  Elizabeth Thomas      Daniel Lewis
4     James Cameron  Elizabeth Thomas
0     Mike Anderson    Sarah Martinez

In [500]:
# For each rating that is the lowest (fewest stars) currently
# in the database, return the reviewer name, movie title, and 
# number of stars. 
min_star = Rating['stars'].min()
min_rated_movies = Rating.loc[Rating['stars'] == min_star, ['rID','mID', 'stars']]
min_rated_movies.merge(Reviewer)\
                .merge(Movie[['mID', 'title']])[['title','name','stars']]

                     title             name  stars
0       Gone with the Wind   Sarah Martinez      2
1       The Sound of Music  Brittany Harris      2
2  Raiders of the Lost Ark  Brittany Harris      2
3                     E.T.    Chris Jackson      2

In [505]:
# List movie titles and average ratings, from highest-rated
# to lowest-rated. If two or more movies have the same average 
# rating, list them in alphabetical order. 
in_cols=['mID','stars']
avg_rating = Rating[in_cols].groupby('mID') \
                            .agg({'stars':np.mean})\
                            .rename(columns={'stars':'avg_stars'})\
                            .reset_index()
out_cols = ['avg_stars','title']
avg_rating.merge(Movie[['mID','title']]).sort_values(by=out_cols)[out_cols]

   avg_stars                    title
2   2.500000                     E.T.
1   2.500000       The Sound of Music
0   3.000000       Gone with the Wind
5   3.333333  Raiders of the Lost Ark
4   4.000000                   Avator
3   4.500000               Snow White

In [37]:
# Find the names of all reviewers who have contributed three or more ratings.
in_cols = ['rID','stars']
num_ratings = Rating[in_cols].groupby('rID').agg({'stars':'count'}).reset_index()
more_rated = num_ratings[num_ratings['stars']>2]
more_rated.merge(Reviewer)[['name']]

              name
0  Brittany Harris
1    Chris Jackson

In [39]:
# Some directors directed more than one movie. For all such directors,
# return the titles of all movies directed by them, along with the 
# director name. Sort by director name, then movie title.
input_cols = ['title', 'director']
Movie[input_cols].groupby('director').filter(lambda g: len(g)>1)

                     title          director
3                     E.T.  Steven Spielberg
4                  Titanic     James Cameron
6                   Avator     James Cameron
7  Raiders of the Lost Ark  Steven Spielberg

In [42]:
# Find the movie(s) with the highest average rating. Return the movie
# title(s) and average rating. (Hint: This query is more difficult to
# write in SQLite than other systems; you might think of it as finding
# the highest average rating and then choosing the movie(s) with that 
# average rating.) 
movie_avg_rating = Rating.groupby('mID')\
                         .agg({'stars':np.mean})\
                         .reset_index()\
                         .rename(columns=({'stars':'avg_stars'}))
max_avg_stars = movie_avg_rating['avg_stars'].max()
movie_max_avg_rating = movie_avg_rating[movie_avg_rating['avg_stars']==max_avg_stars]
out_cols=['avg_stars','title']
movie_max_avg_rating.merge(Movie[['mID', 'title']])[out_cols]

   avg_stars       title
0        4.5  Snow White

In [46]:
# Find the movie(s) with the lowest average rating. Return the movie
# title(s) and average rating. (Hint: This query may be more difficult
# to write in SQLite than other systems; you might think of it as finding
# the lowest average rating and then choosing the movie(s) with that
# average rating.) 
movie_avg_rating = Rating.groupby('mID')\
                         .agg({'stars':np.mean})\
                         .reset_index()\
                         .rename(columns=({'stars':'avg_stars'}))
min_avg_stars = movie_avg_rating['avg_stars'].min()
movie_min_avg_rating = movie_avg_rating[movie_avg_rating['avg_stars'] == min_avg_stars]
out_cols = ['title', 'avg_stars']
movie_min_avg_rating.merge(Movie[['mID','title']])[out_cols]

                title  avg_stars
0  The Sound of Music        2.5
1                E.T.        2.5

In [19]:
# For each director, return the director's name together with
# the title(s) of the movie(s) they directed that received 
# the highest rating among all of their movies, and the value
# of that rating. Ignore movies whose director is NULL. 
input_cols = ['title', 'director', 'stars', 'mID']
movie_rating = pd.merge(Movie[['mID','director', 'title']], Rating[['mID','stars']])[input_cols]
max_rating_per_direcotr = movie_rating.groupby('director')\
                                      .agg({'stars':max})\
                                      .reset_index()
out_cols = ['director','title']
max_rating_per_direcotr.merge(movie_rating, on=['director', 'stars'])\
                       .drop_duplicates(subset='mID')[out_cols]

           director                    title
0     James Cameron                   Avator
1       Robert Wise       The Sound of Music
2  Steven Spielberg  Raiders of the Lost Ark
4    Victor Fleming       Gone with the Wind